@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  :root {
    --header-height: 52px;
    --app-width: 1100px;
    --tilt-x: 0deg;
    --tilt-y: 0deg;

    @media (display-mode: standalone) {
      --header-height: 80px;
    }
  }

  ul {
    -ms-overflow-style: none; /* IE and Edge */
    scrollbar-width: none; /* Firefox */
  }

  ul::-webkit-scrollbar {
    display: none;
  }

  html {
    @apply scroll-smooth;

    scrollbar-gutter: stable;
    scroll-padding-top: var(--header-height);
  }

  html,
  body {
    font-family: Roboto, sans-serif;

    @apply text-black dark:bg-darkBackground dark:text-white;
  }

  pre {
    font-family: Roboto, sans-serif;
  }

  main {
    margin: var(--header-height) auto 0;
    padding: 12px;
    max-width: var(--app-width);
    position: relative;
    min-height: calc(100vh - var(--header-height));
    display: flex;
    flex-direction: column;

    @media (display-mode: standalone) {
      margin: 0 auto var(--header-height);
    }
  }

  h1,
  h2,
  h3,
  h4,
  h5,
  h6 {
    @apply mb-1;
  }

  h1 {
    @apply text-2xl;
  }

  h2 {
    @apply text-xl;
  }

  h3 {
    @apply text-lg;
  }

  h4 {
    @apply text-base;
  }

  h5 {
    @apply text-sm;
  }

  h6 {
    @apply text-xs;
  }

  dialog {
    @apply relative w-full max-w-md rounded border-none shadow;
  }

  textarea {
    @apply m-0 rounded border border-inputBorder px-4 py-2;
  }

  hr {
    @apply my-2 border-gray;
  }

  /* img { */

  /*    height: inherit; */

  /* } */
  li {
    list-style: none;
  }
}

@layer components {
  .center {
    @apply absolute left-1/2 top-1/2 m-0 text-center;
  }

  .block-center {
    @apply mx-auto block;
  }

  .items {
    @apply grid w-full grid-cols-2 gap-2 md:grid-cols-4 lg:grid-cols-5;
  }

  .form {
    @apply relative mx-auto flex w-full max-w-[400px] flex-col gap-4;
  }

  .wysiwyg > ul {
    @apply mt-2;
  }

  .wysiwyg > p {
    @apply mt-2;
  }

  .wysiwyg ul {
    @apply list-inside list-disc;
  }

  .error {
    @apply text-red;
  }

  .count {
    @apply rounded bg-[rgba(0,0,0,0.6)] p-1 text-sm text-white;
  }

  @keyframes bouncer {
    0% {
      transform: translateY(-25%);
    }

    100% {
      transform: translateY(0);
    }
  }

  /* tapper */

  .tapper {
    border-radius: 50%;
    box-shadow: 0 0 16px 0 rgb(138 143 254 / 5%);
    transition: transform 0.2s ease;
    transform: rotateX(var(--tilt-x)) rotateY(var(--tilt-y));
  }

  .plus-one {
    position: absolute;
    text-shadow: 0 0 4px rgb(234 182 64 / 25%);
    font-size: 24px;
    font-weight: 800;
    background: linear-gradient(180deg, #e8c547 0%, #ef882b 100%);
    background-clip: text;
    -webkit-text-fill-color: transparent;
    pointer-events: none;
    user-select: none;
    animation: move-up 2s forwards;
  }

  @keyframes move-up {
    0% {
      opacity: 1;
      transform: translateY(0);
    }

    100% {
      opacity: 0;
      transform: translateY(-50px);
    }
  }
}
